<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitHubToken</key>
	<string>YOUR_GITHUB_PERSONAL_ACCESS_TOKEN_HERE</string>
	<key>client_id</key>
	<string>YOUR_GITHUB_OAUTH_CLIENT_ID_HERE</string>
	<key>client_secret</key>
	<string>YOUR_GITHUB_OAUTH_CLIENT_SECRET_HERE</string>
	<key>redirect_uri</key>
	<string>YOUR_OAUTH_CALLBACK_URL_HERE</string>
</dict>
</plist>