<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitHubToken</key>
	<string>695a930e9dd5f82f014babf5a87cb17cfdb0f353</string>
	<key>client_id</key>
	<string>da77dbddedbe07f60ecd</string>
	<key>client_secret</key>
	<string>dff979e308cbfa96ea545ba387f9fbd737306393</string>
	<key>redirect_uri</key>
	<string>octonotes://auth</string>
</dict>
</plist>
